### Creating a virtual environment with every required libraries installed in it.
python -m venv .venv

#### Activating it
.venv/Scripts/Activate

## Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import zscore
from sklearn.preprocessing import StandardScaler

## Loading the Dataset

In [24]:
file_path = "Download-GDPcurrent-USD-countries.xlsx"
df_original = pd.read_excel(file_path, header=2)
df = df_original.copy()

In [50]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3715 entries, 0 to 3714
Data columns (total 58 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CountryID      3715 non-null   int64
 1   Country        3715 non-null   object
 2   IndicatorName  3715 non-null   object
 3   1970           3122 non-null   float64
 4   1971           3122 non-null   float64
 5   1972           3123 non-null   float64
 6   1973           3125 non-null   float64
 7   1974           3123 non-null   float64
 8   1975           3125 non-null   float64
 9   1976           3124 non-null   float64
 10  1977           3124 non-null   float64
 11  1978           3124 non-null   float64
 12  1979           3127 non-null   float64
 13  1980           3128 non-null   float64
 14  1981           3129 non-null   float64
 15  1982           3130 non-null   float64
 16  1983           3130 non-null   float64
 17  1984           3131 non-null   float64
 18  1985           3133 non-null   float64
 19  1986           3132 non-null   float64
 20  1987           3136 non-null   float64
 21  1988           3136 non-null   float64
 22  1989           3152 non-null   float64
 23  1990           3624 non-null   float64
 24  1991           3543 non-null   float64
 25  1992           3538 non-null   float64
 26  1993           3541 non-null   float64
 27  1994           3525 non-null   float64
 28  1995           3526 non-null   float64
 29  1996           3526 non-null   float64
 30  1997           3527 non-null   float64
 31  1998           3523 non-null   float64
 32  1999           3523 non-null   float64
 33  2000           3525 non-null   float64
 34  2001           3527 non-null   float64
 35  2002           3530 non-null   float64
 36  2003           3529 non-null   float64
 37  2004           3534 non-null   float64
 38  2005           3565 non-null   float64
 39  2006           3567 non-null   float64
 40  2007           3566 non-null   float64
 41  2008           3599 non-null   float64
 42  2009           3597 non-null   float64
 43  2010           3596 non-null   float64
 44  2011           3580 non-null   float64
 45  2012           3579 non-null   float64
 46  2013           3561 non-null   float64
 47  2014           3560 non-null   float64
 48  2015           3561 non-null   float64
 49  2016           3561 non-null   float64
 50  2017           3560 non-null   float64
 51  2018           3560 non-null   float64
 52  2019           3561 non-null   float64
 53  2020           3560 non-null   float64
 54  2021           3558 non-null   float64
 55  2022           3557 non-null   float64
 56  2023           3556 non-null   float64
 57  2024           3550 non-null   float64
dtypes: float64(55), int64(1), object(2)
memory usage: 1.6+ MB

In [51]:
df_original.head()

,CountryID,Country,IndicatorName,1970,1971,1972,1973,1974,1975,1976,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,4,Afghanistan,Final consumption expenditure,1.691109e+09,1.826664e+09,1.544444e+09,1.637778e+09,1.984444e+09,2.173333e+09,2.248889e+09,...,1.905434e+10,1.841552e+10,1.859587e+10,2.082703e+10,2.138090e+10,2.286309e+10,1.663770e+10,1.693301e+10,2.009309e+10,2.708702e+10
1,4,Afghanistan,Household consumption expenditure (including N...,1.577102e+09,1.703519e+09,1.440325e+09,1.527366e+09,1.850662e+09,2.026817e+09,2.097279e+09,...,1.496906e+10,1.429584e+10,1.460787e+10,1.688326e+10,1.721976e+10,1.844500e+10,1.341413e+10,1.383642e+10,1.662669e+10,2.212882e+10
2,4,Afghanistan,General government final consumption expenditure,1.140071e+08,1.231456e+08,1.041196e+08,1.104117e+08,1.337824e+08,1.465165e+08,1.516101e+08,...,4.085273e+09,4.119686e+09,3.987993e+09,3.943771e+09,4.161138e+09,4.418088e+09,3.223572e+09,3.096592e+09,3.466403e+09,4.958199e+09
3,4,Afghanistan,Gross capital formation,9.555556e+07,9.999998e+07,1.044445e+08,1.266666e+08,1.888889e+08,2.311111e+08,3.488889e+08,...,2.711463e+09,2.331712e+09,2.640511e+09,2.689519e+09,2.434404e+09,2.289180e+09,1.968903e+09,2.362752e+09,2.490757e+09,2.041052e+09
4,4,Afghanistan,Gross fixed capital formation (including Acqui...,9.555556e+07,9.999998e+07,1.044445e+08,1.266666e+08,1.888889e+08,2.311111e+08,3.488889e+08,...,2.711463e+09,2.331712e+09,2.640511e+09,2.689519e+09,2.434404e+09,2.289180e+09,1.968903e+09,2.362752e+09,2.490757e+09,2.041052e+09

## Data Inspection

In [28]:
df.shape ## to check the shape of the dataset

(3715, 58)

In [34]:
print(df.columns.tolist()) ## gives the name of the columns in list format

['CountryID', 'Country', 'IndicatorName', 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]

In [29]:
df.isnull().sum() ## to calculate the sum of null values in each column present in the dataset

CountryID          0
Country            0
IndicatorName      0
1970             593
1971             593
1972             592
1973             590
1974             592
1975             590
1976             591
1977             591
1978             591
1979             588
1980             587
1981             586
1982             585
1983             585
1984             584
1985             582
1986             583
1987             579
1988             579
1989             563
1990              91
1991             172
1992             177
1993             174
1994             190
1995             189
1996             189
1997             188
1998             192
1999             192
2000             190
2001             188
2002             185
2003             186
2004             181
2005             150
2006             148
2007             149
2008             116
2009             118
2010             119
2011             135
2012             136
2013             154
2014             155
2015             154
2016             154
2017             155
2018             155
2019             154
2020             155
2021             157
2022             158
2023             159
2024             165
dtype: int64

In [38]:
df.dtypes # to check the datatype of every column

CountryID          int64
Country           object
IndicatorName     object
1970             float64
1971             float64
1972             float64
1973             float64
1974             float64
1975             float64
1976             float64
1977             float64
1978             float64
1979             float64
1980             float64
1981             float64
1982             float64
1983             float64
1984             float64
1985             float64
1986             float64
1987             float64
1988             float64
1989             float64
1990             float64
1991             float64
1992             float64
1993             float64
1994             float64
1995             float64
1996             float64
1997             float64
1998             float64
1999             float64
2000             float64
2001             float64
2002             float64
2003             float64
2004             float64
2005             float64
2006             float64
2007             float64
2008             float64
2009             float64
2010             float64
2011             float64
2012             float64
2013             float64
2014             float64
2015             float64
2016             float64
2017             float64
2018             float64
2019             float64
2020             float64
2021             float64
2022             float64
2023             float64
2024             float64
dtype: object

## changing years column datatype to numeric

In [43]:
year_columns = [col for col in df.columns if isinstance(col, int)]
df[year_columns] = df[year_columns].apply(pd.to_numeric, errors='coerce')

## Handling missing values

In [44]:
df[year_columns] = df[year_columns].replace(0, np.nan)

## Checking duplicate values

In [46]:
df.duplicated().sum()

np.int64(0)

In [47]:
## there are no duplicate rows in the dataset if there we we can drop them using df.drop_duplicates()

In [48]:
df.describe

<bound method NDFrame.describe of       CountryID      Country  \
0             4  Afghanistan
1             4  Afghanistan
2             4  Afghanistan
3             4  Afghanistan
4             4  Afghanistan
...         ...          ...
3710        716     Zimbabwe
3711        716     Zimbabwe
3712        716     Zimbabwe
3713        716     Zimbabwe
3714        716     Zimbabwe

                                          IndicatorName          1970  \
0                         Final consumption expenditure  1.691109e+09
1     Household consumption expenditure (including N...  1.577102e+09
2      General government final consumption expenditure  1.140071e+08
3                               Gross capital formation  9.555556e+07
4     Gross fixed capital formation (including Acqui...  9.555556e+07
...                                                 ...           ...
3710                              Construction (ISIC F)  1.049367e+08
3711  Wholesale, retail trade, restaurants and hotel...  5.512239e+08
3712      Transport, storage and communication (ISIC I)  1.683674e+08
3713                        Other Activities (ISIC J-P)  5.403513e+08
3714                                  Total Value Added  2.236207e+09

              1971          1972          1973          1974          1975  \
0     1.826664e+09  1.544444e+09  1.637778e+09  1.984444e+09  2.173333e+09
1     1.703519e+09  1.440325e+09  1.527366e+09  1.850662e+09  2.026817e+09
2     1.231456e+08  1.041196e+08  1.104117e+08  1.337824e+08  1.465165e+08
3     9.999998e+07  1.044445e+08  1.266666e+08  1.888889e+08  2.311111e+08
4     9.999998e+07  1.044445e+08  1.266666e+08  1.888889e+08  2.311111e+08
...            ...           ...           ...           ...           ...
3710  1.109853e+08  1.533040e+08  1.885882e+08  1.917097e+08  2.246988e+08
3711  6.219472e+08  7.560369e+08  8.762230e+08  1.146489e+09  1.172229e+09
3712  1.976448e+08  2.368304e+08  2.848395e+08  3.235341e+08  3.475775e+08
3713  6.013618e+08  7.410007e+08  9.265525e+08  1.083147e+09  1.264462e+09
3714  2.575638e+09  3.195024e+09  3.884938e+09  4.836720e+09  5.236533e+09

              1976  ...          2015          2016          2017  \
0     2.248889e+09  ...  1.905434e+10  1.841552e+10  1.859587e+10
1     2.097279e+09  ...  1.496906e+10  1.429584e+10  1.460787e+10
2     1.516101e+08  ...  4.085273e+09  4.119686e+09  3.987993e+09
3     3.488889e+08  ...  2.711463e+09  2.331712e+09  2.640511e+09
4     3.488889e+08  ...  2.711463e+09  2.331712e+09  2.640511e+09
...            ...  ...           ...           ...           ...
3710  1.917718e+08  ...  5.176863e+08  6.423753e+08  6.988367e+08
3711  1.085233e+09  ...  3.899975e+09  4.376596e+09  4.588743e+09
3712  3.474640e+08  ...  2.280554e+09  2.464920e+09  2.737071e+09
3713  1.298469e+09  ...  6.430076e+09  7.366029e+09  6.825503e+09
3714  5.142541e+09  ...  2.020156e+10  2.366208e+10  2.934032e+10

              2018          2019          2020          2021          2022  \
0     2.082703e+10  2.138090e+10  2.286309e+10  1.663770e+10  1.693301e+10
1     1.688326e+10  1.721976e+10  1.844500e+10  1.341413e+10  1.383642e+10
2     3.943771e+09  4.161138e+09  4.418088e+09  3.223572e+09  3.096592e+09
3     2.689519e+09  2.434404e+09  2.289180e+09  1.968903e+09  2.362752e+09
4     2.689519e+09  2.434404e+09  2.289180e+09  1.968903e+09  2.362752e+09
...            ...           ...           ...           ...           ...
3710  9.097826e+08  1.265677e+09  9.183798e+08  1.442204e+09  1.572689e+09
3711  4.925344e+09  4.693897e+09  4.181444e+09  5.373642e+09  3.343681e+09
3712  3.178462e+09  2.051609e+09  1.881391e+09  1.654403e+09  1.702614e+09
3713  7.956613e+09  6.903385e+09  5.740240e+09  6.536583e+09  6.121556e+09
3714  3.532998e+10  3.788624e+10  3.248360e+10  3.459017e+10  3.592422e+10

              2023          2024
0     2.009309e+10  2.708702e+10
1     1.662669e+10  2.212882e+10
2     3.466403e+09  4.958199e+09
3     2.490757e+09  2.041052e+09
4     2.490757e+09  2.041052e+09
...            ...           ...
3710  1.082968e+09  1.120872e+09
3711  6.233047e+09  6.569499e+09
3712  2.199360e+09  2.339853e+09
3713  1.361698e+10  1.422678e+10
3714  4.194672e+10  4.310659e+10

[3715 rows x 58 columns]>

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3715 entries, 0 to 3714
Data columns (total 58 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CountryID      3715 non-null   int64
 1   Country        3715 non-null   object
 2   IndicatorName  3715 non-null   object
 3   1970           3122 non-null   float64
 4   1971           3122 non-null   float64
 5   1972           3123 non-null   float64
 6   1973           3125 non-null   float64
 7   1974           3123 non-null   float64
 8   1975           3125 non-null   float64
 9   1976           3124 non-null   float64
 10  1977           3124 non-null   float64
 11  1978           3124 non-null   float64
 12  1979           3127 non-null   float64
 13  1980           3128 non-null   float64
 14  1981           3129 non-null   float64
 15  1982           3130 non-null   float64
 16  1983           3130 non-null   float64
 17  1984           3131 non-null   float64
 18  1985           3133 non-null   float64
 19  1986           3132 non-null   float64
 20  1987           3136 non-null   float64
 21  1988           3136 non-null   float64
 22  1989           3152 non-null   float64
 23  1990           3624 non-null   float64
 24  1991           3543 non-null   float64
 25  1992           3538 non-null   float64
 26  1993           3541 non-null   float64
 27  1994           3525 non-null   float64
 28  1995           3526 non-null   float64
 29  1996           3526 non-null   float64
 30  1997           3527 non-null   float64
 31  1998           3523 non-null   float64
 32  1999           3523 non-null   float64
 33  2000           3525 non-null   float64
 34  2001           3527 non-null   float64
 35  2002           3530 non-null   float64
 36  2003           3529 non-null   float64
 37  2004           3534 non-null   float64
 38  2005           3565 non-null   float64
 39  2006           3567 non-null   float64
 40  2007           3566 non-null   float64
 41  2008           3599 non-null   float64
 42  2009           3597 non-null   float64
 43  2010           3596 non-null   float64
 44  2011           3580 non-null   float64
 45  2012           3579 non-null   float64
 46  2013           3561 non-null   float64
 47  2014           3560 non-null   float64
 48  2015           3561 non-null   float64
 49  2016           3561 non-null   float64
 50  2017           3560 non-null   float64
 51  2018           3560 non-null   float64
 52  2019           3561 non-null   float64
 53  2020           3560 non-null   float64
 54  2021           3558 non-null   float64
 55  2022           3557 non-null   float64
 56  2023           3556 non-null   float64
 57  2024           3550 non-null   float64
dtypes: float64(55), int64(1), object(2)
memory usage: 1.6+ MB